<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-light-4 shadow-border p-3">
                <h4 class="mb-3">Personal detail</h4>
                <div>
                    <div class="form-group">
                        <label>Name</label>
                        <input readonly class="form-control" #names value="{{pname}}">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input readonly class="form-control" #emails value="{{pemail}}"><br/>
                    </div>
                    <div class="form-group">
                        <label>Billing address</label>
                        <textarea readonly rows="4" cols="50" class="form-control" #addresss value="{{pbilladd}}"></textarea><br/>
                    </div>
                    <div class="form-group">
                        <label>Shipping address</label>
                        <textarea readonly rows="4" cols="50" class="form-control" #shipaddresss value="{{pshipadd}}"></textarea><br/>
                    </div>
                    <div class="color-red p-3 text-center">{{errortext}}</div>
                </div>
                <div class="text-center">
                    <button type="button" (click)="makeOrder(addresss.value,names.value,emails.value,shipaddresss.value)" class="btn btn-secondary">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>