<div class="container paper7">
    <br/>
<h2>Merchant order</h2>
<div class="row">
         <div class="col-sm-12">
             <div class="paper4">
                 <div class="paper">
                    <p>ID: 2</p>
                    <input class="form-control" #customerids (keyup.enter)="enterid(customerids.value)" ><br/><br/><br/>
                    <button (click)="enterid(customerids.value)" class="w3-button btn1 btn-md">SEARCH</button>
                    <br/>
                    <br/>
                    <br/>
                 </div>
            </div>
         </div>
</div>
         <div class="row">
             <div class="col-md-12 ">
                <span *ngIf="ok">
                    <h3>Search result</h3>
                    <span *ngIf="numproduct > 0">
                    <div class="paper4">
                    <div *ngFor="let c of customerdata.orders"  >
                        <div class="menu-cat paper" (click)="getmoredetail(c)">
                            <br/>
                            <p>Id: {{c.masterOrderId}}</p>
                            <p>No: {{c.orderNo}}</p>
                            <p>Merchant: {{c.merchantCode}}</p>
                            <p>Status: {{c.status}}</p>
                            <p>Price: {{c.orderTotal}}</p>
                            <br/> 
                        </div>   
                    </div>
                    </div>
                    </span> 
                    <div class="row">
                        <div class="col-sm-4 "><button (click)=" openback()" class="w3-button btn1 btn-md">BACK</button></div>
                        <div class="col-sm-4 "><a>page {{pagenow}}/{{totalpage}}</a></div>
                        <div class="col-sm-4"><button (click)=" opennext()" class="w3-button btn1 btn-md">NEXT</button></div>
                    </div>
                </span> 
             </div>    
        </div>
</div>    