<div class="container-fluid">
    <div *ngIf="numproduct > 0" class="row">
        <div class="col-md-12">
            <div class="bg-light-4 shadow-border p-3">
                <h4 class="mb-3">Confirm your order</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Product</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of groupproduct">
                            <td class="text-center align-middle" style="width: 80px">
                                <a (click)="deletesku(c)"><i class="material-icons">close</i></a>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-row">
                                    <div class="pic mr-4">
                                        <img class="img-thumbnail" style="width: 120px" [src]="addpic(c)">
                                    </div>
                                    <div class="align-self-center typography-body-2">
                                        <a (click)="openproduct(c.id)">{{c.name}}<br/>
                                        ({{c.sku}})</a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="align-self-center typography-body-2 text-center">
                                   <a (click)="removeitem(c)"> <i class="material-icons">keyboard_arrow_left</i>-</a><a> {{c.qt}} </a><a (click)="additem(c)">+<i class="material-icons">keyboard_arrow_right</i></a>
                                </div>
                            </td>
                            <td style="width: 200px" class="text-center align-middle">{{(c.defaultPrice+c.opprice)*c.qt | number: '1.2-2'}}฿</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right total-summary">
                                <div class="typography-subheading">Total:<span class="pl-4 typography-headline color-red">{{priceorder?.masterOrderSubTotal | number: '1.2-2'}}฿</span></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="mt-3 text-center">
                    <button type="button" (click)="open()" class="btn btn-secondary">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="numproduct == 0" class="row">
        <div class="col-md-12">
            <div class="bg-light-4 shadow-border p-3 text-center">There are no items in your order.</div>
        </div>
    </div>
</div>