    <div class="row">
        <div class="col-sm-8">
            <h2>Payment summary</h2>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-secondary "  value="Print this page" onClick="window.print()"><i class="material-icons">print</i>
        </div>
    </div>
<div class="row">
  <div class="col-sm-12">
    <div class="paper4">
    <div class="paper">
            <h4>Customer details</h4>
            <p>customerid:  {{orderdetail.customerId}}</p>
            <p>Name:        {{orderdetail.customerName}}</p>
            <p>Email:       {{orderdetail.customerEmailAddress}}</p>
            <p>BillingAddress:  {{orderdetail.billingAddress}}</p>
            <p>ShippingAddress:  {{orderdetail.shippingAddress}}</p>
            <p>Date:        {{orderdetail.createDateTime}}</p>
            
            
      </div>
        <div class="paper">
          <h4>Order details</h4>
          <p>OrderId:     {{orderdetail.masterOrderId}}</p>
            <p>OrderNo:     {{orderdetail.masterOrderNo}}</p>
            <p>Status:      {{orderdetail.status}}</p>
            <p>paymentStatus {{orderdetail.orderPayment?.paymentStatus}}</p>
            <h3>Amount:     {{orderdetail.masterOrderTotalAmount}} Baht</h3>
            <br/>
        </div>   
    </div>
    </div>
</div>

            <span *ngIf="checkpaystatus()">
               <button (click)="gotopay()" class="btn btn-secondary">Back to pay</button>
            </span>
            <!--<button (click)="reportprint()" class="btn btn-secondary">save</button>-->