<h1>Detail</h1>
<div class="paper4">
    <div class="menu-cat paper" >
        <br/>
        <p>Id: {{merchantdata.masterOrderId}}</p>
        <p>No: {{merchantdata.orderNo}}</p>
        <p>merchantId: {{merchantdata.merchantId}}</p>
        <p>MerchantCode: {{merchantdata.merchantCode}}</p>
        <p>DateTime: {{merchantdata.orderDateTime}}</p>
        <p>Status: {{merchantdata.status}}</p>
        <p>CreatedDate: {{merchantdata.createdDateTime}}</p>
        <p>UpdatedDate: {{merchantdata.updatedDateTime}}</p>
        <br/>
        <p>SubTotal: {{merchantdata.orderSubTotal}}</p>
        <p>Discount: {{merchantdata.orderTotalDiscount}}</p>
        <p>Shipping: {{merchantdata.orderTotalShipping}}</p>
        <p>Vat: {{merchantdata.orderTotalVat}}</p>
        <h3>Total: {{merchantdata.orderTotal}} Baht</h3>
        <br/> 
    </div>   
</div>