<h1>Detail</h1>
<div class="paper4">
    <div class="menu-cat paper" >
        <br/>
        <p>Id: {{customerdata.masterOrderId}}</p>
        <p>ShippingAddress: {{customerdata.shippingAddress}}</p>        
        <p>BillingAddress: {{customerdata.billingAddress}}</p>
        <p>CurrencyCode: {{customerdata.currencyCode}}</p>
        <p>EmailAddress: {{customerdata.customerEmailAddress}}</p>        
        <p>customerId: {{customerdata.customerId}}</p>
        <p>customerName: {{customerdata.customerName}}</p>
        <p>DateTime: {{customerdata.orderDateTime}}</p>
        <p>isMediaOrder: {{customerdata.isMediaOrder}}</p>
        <p>No: {{customerdata.masterOrderNo}}</p>
        <p>Status: {{customerdata.status}}</p>
        <p>CreateDate: {{customerdata.createDateTime}}</p>
        <p>UpdateDate: {{customerdata.updateDateTime}}</p>
        <br/> 
        <p>SubTotal: {{customerdata.masterOrderSubTotal}}</p>
        <p>Total: {{customerdata.masterOrderTotal}}</p>
        <p>Discount: {{customerdata.masterOrderTotalDiscount}}</p>
        <p>Shipping: {{customerdata.masterOrderTotalShipping}}</p>
        <p>Vat: {{customerdata.masterOrderTotalVat}}</p>
        <h3>Total: {{customerdata.masterOrderTotalAmount}} Baht</h3>
        <br/> 
    </div>   
</div>