<!--<iframe src="https://s3.amazonaws.com/_bc_dml/example-content/sintel_dash/sintel_vod.mpd"></iframe>-->
<div class="bg-light-4 shadow-border p-3">
    <h4 class="mb-3">Please fill personal detail</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" #fnames>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" #lnames>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Address</label>
                <input class="form-control" #addresses>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Area</label>
                <input class="form-control" #araes>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>City</label>
                <input class="form-control" #citys>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>State</label>
                <input class="form-control" #states>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Country</label>
                <input class="form-control" #countries>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Zip code</label>
                <input class="form-control" #zips>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Telephone</label>
                <input class="form-control" #telephones>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Fax</label>
                <input class="form-control" #faxes>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" #emails>
    </div>
    <textarea readonly rows="1" cols="50" class="form-control" style="color: red" #errorresultt value="{{textresult}}"></textarea><br/>
    <div class="text-center">
        <button type="button" (click)="generateText(fnames.value,lnames.value,addresses.value,araes.value,citys.value,states.value,countries.value,zips.value,telephones.value,faxes.value,emails.value)"
            class="btn btn-secondary">Enter</button>
    </div>
</div>